In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as spstats
from sklearn.preprocessing import PolynomialFeatures
%matplotlib notebook

In [2]:
filename_measures = 'data/IMPROVE_2015_measures_cs433.csv'
filename_spectra = 'data/IMPROVE_2015_raw_spectra_cs433.csv'
filename_tts = 'data/IMPROVE_2015_train_test_split_cs433.csv'
# filename_sec_deriv = 'data/IMPROVE_2015_2nd-derivative_spectra_cs433.csv'

df_measures = pd.read_csv(filename_measures)
df_spectra = pd.read_csv(filename_spectra)
df_train_test_split = pd.read_csv(filename_tts)
# df_second_derivative = pd.read_csv(filename_sec_deriv, index_col=0)

In [21]:
measures_useful_cols = ['site','SiteCode','Date','flag','Latitude','Longitude','DUSTf:Value','DUSTf:Unc']

## Exploration

In [24]:
df_measures['DUSTf:Value'].isnull().values.sum()

7

There are 7 NaN values in the dust values. We remove them.

In [30]:
nan_indices = df_measures['DUSTf:Value'].index[df_measures['DUSTf:Value'].apply(np.isnan)]

In [33]:
df_measures = df_measures.drop(df_measures.index[nan_indices])
df_spectra = df_spectra.drop(df_spectra.index[nan_indices])

## Dataframes merging

In [38]:
df_measures[measures_useful_cols]

,site,SiteCode,Date,flag,Latitude,Longitude,DUSTf:Value,DUSTf:Unc
0,CRLA1_04_21_2015_NM_0_csv,CRLA1,20150421,NM,42.89580,-122.13610,8.725530,0.758188
1,TONT1_05_09_2015_NM_0_csv,TONT1,20150509,NM,33.65480,-111.10680,4.686666,0.445060
2,BADL1_11_26_2015_NM_0_csv,BADL1,20151126,NM,43.74350,-101.94120,1.007311,0.121622
3,BRID1_10_27_2015_NM_0_csv,BRID1,20151027,NM,42.97490,-109.75790,0.337955,0.107560
4,SEQU1_04_03_2015_NM_0_csv,SEQU1,20150403,NM,36.48940,-118.82910,8.532945,0.735361
5,PINN1_08_04_2015_NM_QC_0_csv,PINN1,20150804,NM,36.48330,-121.15680,1.418231,0.169362
6,PINN1_08_04_2015_NM_0_csv,PINN1,20150804,NM,36.48330,-121.15680,1.418231,0.169362
7,BRIS1_12_17_2015_NM_0_csv,BRIS1,20151217,NM,30.10863,-89.76168,1.297668,0.138210
8,BRCA1_04_15_2015_NM_0_csv,BRCA1,20150415,NM,37.61840,-112.17360,18.571365,1.426632
9,WHIT1_12_14_2015_NM_0_csv,WHIT1,20151214,NM,33.46870,-105.53490,2.865876,0.259473
10,DOME1_08_31_2015_NM_0_csv,DOME1,20150831,NM,35.72780,-118.13770,11.115335,0.971669
11,GLAC1_04_09_2015_NM_0_csv,GLAC1,20150409,NM,48.51050,-113.99660,4.124424,0.342535
12,LOST1_03_07_2015_NM_0_csv,LOST1,20150307,NM,48.64190,-102.40220,1.408384,0.152920
13,MAKA2_03_31_2015_NM_0_csv,MAKA2,20150331,NM,48.30000,-124.62000,0.904127,0.107607
14,ELLI1_08_13_2015_NM_2_0_csv,ELLI1,20150813,NM,36.08530,-99.93540,6.207719,0.521900
15,BADL1_10_09_2015_NM_0_csv,BADL1,20151009,NM,43.74350,-101.94120,2.325782,0.221817
16,MOZI1_04_15_2015_NM_0_csv,MOZI1,20150415,NM,40.53830,-106.67660,17.156322,1.410890
17,IKBA1_01_06_2015_NM_0_csv,IKBA1,20150106,NM,34.34050,-111.68320,1.148186,0.122414
18,SHEN1_02_08_2015_NM_0_csv,SHEN1,20150208,NM,38.52290,-78.43480,2.651695,0.239182
19,PHOE5_11_23_2015_NM_0_csv,PHOE5,20151123,NM,33.50380,-112.09580,15.598517,1.183856
20,MORA1_04_21_2015_NM_0_csv,MORA1,20150421,NM,46.75830,-122.12440,2.770739,0.250376
21,BYIS1_08_07_2015_NM_0_csv,BYIS1,20150807,NM,37.96590,124.63080,7.983672,0.695248
22,SIPS1_08_01_2015_NM_0_csv,SIPS1,20150801,NM,34.34330,-87.33880,4.893608,0.392791
23,NOCA1_10_06_2015_NM_0_csv,NOCA1,20151006,NM,48.73160,-121.06460,2.371392,0.239377
24,SAGU1_08_31_2015_NM_0_csv,SAGU1,20150831,NM,32.17460,-110.73710,4.043046,0.365688
25,PUSO1_09_27_2015_NM_0_csv,PUSO1,20150927,NM,47.56960,-122.31190,0.907888,0.116744
26,ELDO1_07_05_2015_NM_0_csv,ELDO1,20150705,NM,37.70090,-94.03480,13.953594,1.209956
27,GRBA1_11_08_2015_NM_0_csv,GRBA1,20151108,NM,39.00520,-114.21610,0.607373,0.094431
28,HACR1_11_14_2015_NM_0_csv,HACR1,20151114,NM,20.75850,-156.24790,0.354234,0.107342
29,VILA1_11_14_2015_NM_0_csv,VILA1,20151114,NM,40.96900,-95.04500,9.269684,0.671733
...,...,...,...,...,...,...,...,...
17978,ROMA1_11_29_2015_NM_0_csv,ROMA1,20151129,NM,32.94100,-79.65720,2.522173,0.211528
17979,TALL1_09_18_2015_NM_0_csv,TALL1,20150918,NM,38.43410,-96.56020,4.157324,0.373582
17980,LIGO1_01_03_2015_NM_0_csv,LIGO1,20150103,NM,35.97230,-81.93310,0.162462,0.080768
17981,NOAB1_12_02_2015_NM_0_csv,NOAB1,20151202,NM,44.74480,-109.38160,1.213807,0.136364
17982,ORPI1_12_11_2015_NM_0_csv,ORPI1,20151211,NM,31.95060,-112.80160,39.290629,3.385020
17983,JARB1_01_12_2015_NM_0_csv,JARB1,20150112,NM,41.89260,-115.42610,0.151368,0.086798
17984,DOME1_06_23_2015_NM_0_csv,DOME1,20150623,NM,35.72780,-118.13770,10.589689,0.915198
17985,CABI1_02_02_2015_NM_0_csv,CABI1,20150202,NM,47.95490,-115.67090,0.093035,0.074233
17986,NOCA1_08_10_2015_NM_0_csv,NOCA1,20150810,NM,48.73160,-121.06460,2.114066,0.219585
17987,SAGA1_03_28_2015_NM_0_csv,SAGA1,20150328,NM,34.29690,-118.02820,5.695194,0.484011
17988,BRMA1_10_12_2015_NM_0_csv,BRMA1,20151012,NM,44.10740,-70.72920,1.540696,0.168611
17989,MACA1_05_21_2015_NM_2_0_csv,MACA1,20150521,NM,37.13180,-86.14790,1.855290,0.235023
17990,FLTO1_02_05_2015_NM_0_csv,FLTO1,20150205,NM,39.92000,-107.63000,1.429011,0.149222
17991,BALD1_08_01_2015_NM_0_csv,BALD1,20150801,NM,34.05840,-109.44060,6.944250,0.636986
17992,JARB1_01_27_2015_NM_0_csv,JARB1,20150127,NM,41.89260,-115.42610,0.251788,0.091949
17993,SNPA1_07_02_2015_NM_0_csv,SNPA1,20150702,NM,47.42200,-121.42590,4.485137,0.391885
17994,NOCH1_10_03_2015_NM_0_csv,NOCH1,20151003,NM,45.64950,-106.55740,4.906144,0.430273
17995,KALM1_10_12_2015_NM_0_csv,KALM1,20151012,NM,42.55200,-124.05890,0.331624,0.086406
17996,DOME1_07_05_2015_NM_0_csv,DOME1,20150705,NM,35.72780,-118.13770,5.674893,0.502125
17997,BRID1_09_03_2015_NM_0_csv,BRID1,20150903,NM,42.97490,-109.75790,8.818175,0.726234
17998,SAMAX_02_17_2015_NM_0_csv,SAMAX,20150217,NM,30.09260,-84.16140,1.053944,0.106999
17999,CRES1_05_21_2015_NM_1_csv,CRES1,20150521,NM,41.76270,-102.43360,0.489675,0.148264
18000,IKBA1_07_08_2015_NM_0_csv,IKBA1,20150708,NM,34.34050,-111.68320,7.275766,0.640098
18001,SHEN1_04_09_2015_NM_0_csv,SHEN1,20150409,NM,38.52290,-78.43480,0.842419,0.162463
18002,THRO1_10_09_2015_NM_0_csv,THRO1,20151009,NM,46.89480,-103.37770,5.484673,0.450096
18003,SYCA1_09_06_2015_NM_0_csv,SYCA1,20150906,NM,35.14060,-111.96920,6.747864,0.589715
18004,LOST1_10_15_2015_NM_0_csv,LOST1,20151015,NM,48.64190,-102.40220,10.715875,0.881844
18005,GRBA1_02_23_2015_NM_0_csv,GRBA1,20150223,NM,39.00520,-114.21610,13.069840,1.050305
18006,YOSEX_07_23_2015_NM_0_csv,YOSEX,20150723,NM,37.71330,-119.70610,6.936146,0.610139
18007,PHOE5_03_25_2015_NM_0_csv,PHOE5,20150325,NM,33.50380,-112.09580,27.249737,2.237545

In [55]:
df_spectra.loc['YOSEX_07_23_2015_NM_0_csv']

0       0.456300
1       0.456100
2       0.455890
3       0.455680
4       0.455460
5       0.455240
6       0.455030
7       0.454820
8       0.454610
9       0.454400
10      0.454200
11      0.453990
12      0.453790
13      0.453590
14      0.453370
15      0.453160
16      0.452940
17      0.452730
18      0.452510
19      0.452290
20      0.452080
21      0.451870
22      0.451670
23      0.451460
24      0.451240
25      0.451030
26      0.450820
27      0.450610
28      0.450390
29      0.450180
          ...
2754   -0.081014
2755   -0.082169
2756   -0.083278
2757   -0.084338
2758   -0.085344
2759   -0.086289
2760   -0.087171
2761   -0.087994
2762   -0.088767
2763   -0.089482
2764   -0.090129
2765   -0.090705
2766   -0.091219
2767   -0.091679
2768   -0.092088
2769   -0.092448
2770   -0.092750
2771   -0.092987
2772   -0.093164
2773   -0.093276
2774   -0.093322
2775   -0.093300
2776   -0.093208
2777   -0.093020
2778   -0.092702
2779   -0.092248
2780   -0.091657
2781   -0.090924
2782   -0.090035
2783   -0.088967
Name: YOSEX_07_23_2015_NM_0_csv, Length: 2784, dtype: float64

## Features selection

In [34]:
from sklearn.feature_selection import chi2, SelectKBest

In [35]:
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(df_spectra, df_measures['DUSTf:Value'])

ValueError: Found input variables with inconsistent numbers of samples: [19932, 18001]

In [22]:
pf = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)
pf.fit_transform(df_spectra)

Index(['wavenumber', 'ACAD1_01_06_2015_NM_0_csv', 'ACAD1_01_09_2015_NM_0_csv',
       'ACAD1_01_12_2015_NM_0_csv', 'ACAD1_01_15_2015_NM_0_csv',
       'ACAD1_01_18_2015_NM_0_csv', 'ACAD1_01_21_2015_NM_0_csv',
       'ACAD1_01_24_2015_NM_0_csv', 'ACAD1_01_27_2015_NM_0_csv',
       'ACAD1_01_30_2015_NM_0_csv',
       ...
       'YOSE1_07_02_2015_FB_0_csv', 'YOSEX_01_15_2015_FB_0_csv',
       'YOSEX_02_05_2015_FB_0_csv', 'YOSEX_05_21_2015_FB_0_csv',
       'YOSEX_06_11_2015_FB_0_csv', 'YOSEX_09_03_2015_FB_0_csv',
       'YOSEX_10_15_2015_FB_0_csv', 'YOSEX_11_05_2015_FB_0_csv',
       'ZICA1_08_13_2015_FB_0_csv', 'ZICA1_09_03_2015_FB_0_csv'],
      dtype='object', length=19939)

In [23]:
# df_spectra[df_spectra.index == [df_train_test_split[df_train_test_split.usage == "calibration"].site]]

ValueError: Arrays were different lengths: 19939 vs 1